language: dart
dart:
- stable
dart_task:
- test: --exclude-tags no-xvfb
  xvfb: false
script:
- pub run test
- pub run test/issues/issue16.dart
- pub run test/issues/issue23.dart
- pub run test/issues/issue30.dart

sudo: required
addons:
  chrome: stable
branches:
  only:
    - master

